#about {
  margin-top: 2rem;
  margin-bottom: 6rem;
  text-align: center;
  .container {
    .row {
      margin: 5rem 0;
      gap: 3rem;
      .about-text-col {
        padding-top: 2rem;
        .about-subtitle {
          color: $first-color;
          font-family: $subtitle-font;
          font-size: $h1-font-size;
        }
        .about-title {
          font-family: $title-font;
          font-size: $h1-font-size;
          margin-bottom: 1rem;
          div {
            img {
              width: 28px;
              border-radius: 50% !important;
            }
          }
        }
        p {
          padding: 0 1rem;
          margin-bottom: 2.5rem;
        }
      }
      .about-img-col {
        img {
          width: 300px;
          height: 300px;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  #about {
    .container {
      .row {
        display: grid;
        grid-template-columns: .7fr;
        justify-content: center;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  #about {
    padding-block: 7rem 1.5rem;
    .container {
      .about-container {
        grid-template-columns: 350px 460px;
        align-items: center;
        column-gap: 7rem;
        .about-text-col {
          text-align: initial;
          order: 1;
          .about-subtitle {
            margin-bottom: .75rem;
          }
          .about-title {
            font-size: $biggest-font-size;
            div {
              img {
                width: 50px;
              }
            }
          }
          p {
            padding: 0;
            max-width: 420px;
          }
        }
        .about-img-col {
          img {
            width: 450px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  #about {
    .container {
      .row {
        grid-template-columns: 330px 470px;
        justify-content: center;
        .about-text-col {
          .about-title {
            font-size: 4rem !important;
          }
          p {
            font-size: 1rem !important;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1400px) {
  #about {
    .container {
      .about-container {
        grid-template-columns: 380px 480px;
      }
    }
  }
}