#about {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    .container {
      .row {
        gap: 3rem;
        .about-text-col {
          padding-top: 2rem;
          .about-subtitle {
            color: $first-color;
            font-family: $subtitle-font;
            font-size: $h1-font-size;
          }
          .about-title {
            font-family: $title-font;
            font-size: $h1-font-size;
            margin-bottom: 1rem;
            div {
              img {
                width: 28px;
                border-radius: 50% !important;
              }
            }
          }
          p {
            padding: 0 1rem;
            margin-bottom: 2.5rem;
          }
        }
        .about-img-col {
          img {
            width: 300px;
            height: 300px;
          }
        }
      }
    }
  }