// Arrow back to top
.button_back-to-top {
  cursor: pointer;
  z-index: $z-fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 35px;
  height: 35px;
  margin: {
    right: 11px;
    bottom: 11px;
  }
  border-radius: 1.24rem;
  background-color: $body-color;
  box-shadow: 0px 0px 20px 8px hsla(19, 64%, 24%, 0.1);
  .arrow_back-top {
    font-size: 26px;
    font-weight: $font-semi-bold;
  }
}
// disableScrolling
.stop-scrolling {
  overflow: hidden;
}
// Home
#home {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 6rem;
  .container {
    .home-container {
      gap: 4rem;
      padding-top: 2rem;
      .hero_text-col {
        .home-title {
          font-family: $title-font;
          font-size: $biggest-font-size;
          margin-bottom: 1rem;
          &:nth-child(1) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // gap: .5rem;
            img {
              padding-bottom: 7px;
              width: 35px;
              border-radius: 50% !important;
            }
          }
        }
        .home-description {
          padding: 0 1rem;
          margin-bottom: 2.5rem;
        }
        .home-button {
          display: inline-flex;
          align-items: center;
          column-gap: 0.5rem;
          background-color: $first-color;
          padding: 1rem 1.5rem;
          border-radius: 4rem;
          color: #fff;
          font-weight: $font-medium;
          transition: background 0.3s;
          i {
            font-size: 1.5rem;
            transition: transform 0.3s;
          }
        }
      }
    }
  }
  .hero_image-col {
    img {
      border-radius: 91px 159px;
    }
  }
}

@media screen and (min-width: 576px) {
  #home {
    .container {
      .home-container {
        display: grid;
        grid-template-columns: 0.7fr;
        justify-content: center;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .button_back-to-top {
    width: 40px;
    height: 40px;
    bottom: 5px;
    right: 5px;
  }
  #home {
    padding-block: 7rem 1.5rem;
    margin-top: 0;
    .container {
      .home-container {
        position: relative;
        column-gap: 7rem;
        grid-template-columns: 350px 450px;
        padding-block: 7rem 3rem;
        .hero_image-col {
          img {
            width: 450px;
            position: absolute;
            top: -3rem;
            right: 0;
          }
        }
        .hero_text-col {
          order: -1;
          text-align: initial;
          .home-title {
            font-size: $biggest-font-size !important;
            &:nth-child(1) {
              justify-content: initial;
              align-items: initial;
              img {
                width: 60px !important;
              }
            }
          }
          .home-description {
            padding-inline: 0 1rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #home {
    .container {
      .home-container {
        column-gap: 4rem;
        grid-template-columns: 577px 450px;
        justify-content: center;
        .hero_text-col {
          .home-title {
            font-size: 4rem !important;
          }
          .home-description {
            padding-inline: 0 6rem;
            font-size: 1rem !important;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  #home {
    .container {
      .home-container {
        column-gap: 10rem;
        grid-template-columns: 620px 460px;
        .hero_text-col {
          .home-description {
            padding-inline: 0 12rem;
          }
        }
      }
    }
  }
}
