#newsletter {
  margin: {
    left: 1rem;
    right: 1rem;
  }
  padding-top: 2rem;
  margin-bottom: 6rem;
  .newsletter-container {
    position: relative;
    background-color: hsl(19, 24%, 15%);
    border-radius: 2.5rem;
    text-align: center;
    overflow: hidden;
    padding: 5rem 1rem 3rem;
    margin-bottom: 2rem;
    .newsletter-content {
      gap: 1.5rem;
      .newsletter-img {
        border-radius: 50%;
        width: 250px;
        position: absolute;
        top: -4.5rem;
        left: -8rem;
      }
      .newsletter-data {
        margin-bottom: 2rem;
        .newsletter-subtitle {
          color: $first-color;
          font-family: $subtitle-font;
          font-size: $h1-font-size;
        }
        .newsletter-title {
          color: #fff;
          font-family: $title-font;
          font-size: $h1-font-size;
          margin-bottom: 2rem;
        }

        .newslleter-form {
          background-color: #fff;
          padding: 5px 5px 5px 16px;
          border-radius: 4rem;
          display: flex;
          column-gap: 3.5rem;
          justify-content: space-between;
          .newsletter-button {
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            column-gap: 0.5rem;
            background-color: $first-color;
            padding: 11px 1.5rem;
            border-radius: 4rem;
            color: #fff;
            font-weight: $font-medium;
            transition: background 0.3s;
            i {
              font-size: 1.5rem;
              transition: transform 0.3s;
            }
          }
          .newsletter-button,
          .newsletter-input {
            // font-family: $body-font;
            border: none;
            outline: none;
          }
          .newsletter-input {
            color: $text-color;
            width: 90px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  #newsletter {
    .newsletter-container {
      .newsletter-content {
        display: grid;
        grid-template-columns: 0.7fr;
        justify-content: center;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  #newsletter {
    .newsletter-container {
      padding: 2.5rem 0 !important;
      .newsletter-content {
        grid-template-columns: 350px 460px;
        align-items: center;
        column-gap: 6rem;
        border-radius: 4.5rem;
        .newsletter-img {
          position: initial;
          width: 350px;
        }
        .newsletter-data {
          text-align: initial;
          .newsletter-subtitle {
            margin-bottom: 0.75rem;
          }
          .newsletter-title {
            margin-bottom: 2.5rem;
            font-size: $biggest-font-size;
          }
          .newslleter-form {
            padding: 8px 8px 8px 24px;
            .newsletter-button {
              font-size: $normal-font-size;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  #newsletter {
    .newsletter-container {
      .newsletter-content {
        .newsletter-data {
          .newsletter-title {
            font-size: 4rem !important;
          }
        }
      }
    }
  }
}